ion-content{
    --background : rgb(191, 236, 255);    
}

ion-item{
    --color:black;
    --background : rgb(191, 236, 255);
}

ion-buttton{
    text-transform: initial;
    align-items: center;
}

ion-label{
    --background : rgb(191, 236, 255);
    --color : rgb(191, 236, 255);
}

ion-card{
    margin-top: 35px;
    margin-bottom: 20px;
}
