<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-subtitle color="primary" size="small">Informations complémentaires</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="formulaireInfo" (ngSubmit)="enregistrer()">
          <ion-item lines="full">
            <ion-label position="floating">Votre âge</ion-label>
            <ion-input formControlName="age" type="number" min="0"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Votre poids (en kg)</ion-label>
            <ion-input formControlName="poids" type="number"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Votre taille (en cm)</ion-label>
            <ion-input formControlName="taille" type="number"></ion-input>
          </ion-item>

          <ion-radio-group  formControlName="genre">
            <ion-list-header>
              <ion-label color="light" lines="full">Votre genre</ion-label>
            </ion-list-header>
            <ion-item lines="none">
              <ion-label>Masculin</ion-label>
              <ion-radio slot="start" value="M"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Féminin</ion-label>
              <ion-radio slot="start" value="F"></ion-radio>
            </ion-item>
          </ion-radio-group>


          <ion-item lines="none">
            <ion-label>Votre region</ion-label>
            <ion-select formControlName="region">
              <ion-select-option *ngFor="let region of Regions; let i = index" value="{{region}}"> {{region}} </ion-select-option>
            </ion-select>
          </ion-item>
          <br>

          <ion-item lines="full">
            <ion-label position="floating">Votre medecin traitant</ion-label>
            <ion-input formControlName="nom_medecin" type="text"></ion-input>
          </ion-item>
          <ion-item lines="full" *ngIf="medecin()">
            <ion-label position="floating">Ville du médecin traitant</ion-label>
            <ion-input formControlName="ville_medecin" type="text"></ion-input>
          </ion-item>
          <br>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="success" size="full" [disabled]="formulaireInfo.invalid">Enregistrer</ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="button" color="danger" size="full" fill="clear" (click)="clear()">Annuler</ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>